/* full styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #1e1e1e;
    color: white;
    -webkit-app-region: no-drag;
}

/* block select */
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

ul {
    list-style-type: none;
  }

.no-win-drag{
    -webkit-app-region: no-drag;
}